* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 100px auto;
}

.container div h1, h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.display {
    min-height: 300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display img:hover {
    transform: translateY(-20px)
}

.display img {
    height: 250px;
    transition: transform 0.2s ease-in;
    /* border: 1px solid black; */
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.18); 
box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.18);
    overflow: hidden;
}